<!-- carousel.component.html -->
<div class="carousel-container">
  <button (click)="prev()">&#10094;</button>
  <div class="carousel">
      <app-oppDiceContainer *ngIf="currPlayer() === false" [dice]="players[currentIndex].dice" [pid]="players[currentIndex].pid"></app-oppDiceContainer>
      <app-diceContainer *ngIf="currPlayer()=== true" [dice]="players[currentIndex].dice" [prompted]="prompted" [maxSelections]="maxSelections" [prompt] ="prompt" [res]="res" [pid]="user"></app-diceContainer>
  </div>
  <button (click)="next()">&#10095;</button>
</div>
