<h2 *ngIf="this.prompted">{{prompt}}</h2>

<div (click)="emitPlayer(); $event.stopPropagation()" >
  <h3 [class.playerSelected]='this.playerSelected'>{{getUserDisplay()}}</h3>
</div>

<div class="container">
<div *ngFor="let die of dice; let i = index" (click)="selectDice(i)">
  <app-die [faces]="die.faces" [faceIndex]="die.faceIndex" [selected]="die.selected" ></app-die>
</div>
</div>

<!-- <div *ngIf="this.prompted">
  <button (click)="submitDice()">Submit</button>
  <button (click)="unselectAllDice()">Clear</button>
</div> -->
