.face{
    border: 2px solid black;
    color: red;
    height:25px;
    width:25px;
    text-align: center
}

.faceUp:hover{
    background-color: lightblue;
}

.selected{
    border:2px solid lightgreen;
}

.faceUpIndex{
    border-color: gold
}

.faceSelected{
    color: lime;
}
